/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-width: 900px;
  height: 100%;
  background: linear-gradient(180deg, #009688 100px, #d8dbd5 100px);
  padding: 15px 0;
}

.boolz-app {
  width: 100%;
  max-width: 1170px;
  min-width: 900px;
  margin: 0 auto;
  height: calc(100vh - 30px);
  background: green;
}

.boolz-app::after {
  content: '';
  display: table;
  clear: both;
}

div[class*="-side"] {
  float: left;
  min-height: 300px;
}

.left-side {
  width:30%;
  background: red;
  height: 100%;
  border-right: 1px solid #d4d4d4;
}

.right-side {
  width:70%;
  background: blue; /* TODO debug purpose*/
  height: 100%
}

.left-side > div,
.right-side > div {
  padding: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

[alt*="avatar"] {
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
}


/* LEFT SIDE STYLE */
/* My account block */
.my-account {
  height: 70px;
  background-color: #eaeaea;
  /* background: purple; */ /* TODO debug purpose*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Notifiche block */
.notifiche {
  height: 80px;
  background: #8edafc;
}

/* Search block */
.search-chat {
  height: 70px;
  background-color: #fafafa
  /* background: yellow; */ /* TODO debug purpose*/
}

/* Contacts block */
.contacts {
  height: calc(100% - 220px);
  background-color: #fff;
  /* background: grey; */ /* TODO debug purpose*/
  overflow-y: auto;
}

.contacts li {
  height: 70px;
  padding: 10px 0;
}

li .contact-name {
  font-weight: 500;
  font-size: 1.4em;
}



/* RIGHT SIDE STYLE */
.current-contact {
  height: 70px;
  background-color: #eaeaea;
  /* background: blueviolet; */ /* TODO debug purpose*/
}

.chat-window {
  height: calc(100% - 140px);
  background-color: beige;
  background: url(../img/mine.jpg);
  overflow-y: auto;
}

.send-message {
  height: 70px;
  background-color: #f3eeea;
  /* background: crimson; */ /* TODO debug purpose*/
}
